{% extends "base.html" %}

{% block content %}
    <h1>SAP data received from api.equinor.com</h1>
    <div>
        <p>
        This web-app reads SAP data from a REST API. The API is made according to the so-called SAP "Azure light" 
        architecture. The implemenation is hidden from me, as it should, I consume the API from api.equinor.com. 
        The API provide SAP ODATA as REST in line with the openAPI standard. This web-app receives the data as json, 
        another option is XML.</p>
        <p>The API is not designed based on an overall data need within a business domain. We will however over time be 
        able to expose the relevant SAP data within these business domains.</p> 
        <p>The user needs an equinor trusted Azure AD account. The OAUTH token from Azure AD is exchanged into a SAP token. 
        The data are restricted, so the user needs access to a specific role in the backend SAP system to be allowed to 
        view the data. The app currently shows max 15 rows of the dataset received.
        </p>
        <p>..... a small disclaimer at the end ..... it could be argued that this beatiful user interface has a minor 
        improvement potential. The current look and feel is not due to any limitations in SAP. More likely, it is caused by 
        the fact that the front-end developer is stuck in the 80's .....
        </p>
    </div>
    <h3>SAP, a frontrunner into Omnia</h3>
{% endblock %}