<html>
    <head>
        {% if title %}
        <title>The best run SAP</title>
        {% else %}
        <title>The best run SAP</title>
        {% endif %}
      </head>
    <body>
        <div>
            SAP API 
            <a href="{{ url_for('home') }}"> ( get data ) </a>
            <a href="{{ url_for('about') }}"> ( about ) </a>
            <a href="{{ url_for('token') }}"> ( token ) </a>        
        </div>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>