<html>
    <head>
        {% if title %}
        <title>The best run SAP</title>
        {% else %}
        <title>The best run SAP</title>
        {% endif %}
      </head>
    <body>
        <div>
            SAP API 
            <a href="{{ url_for('about') }}"> ( about ) </a>
            <a href="{{ url_for('login') }}"> ( "Azure light" API ) </a>       
            <a href="{{ url_for('plapi') }}"> ( SAP Basic PL Employee API ) </a>     
            <a href="{{ url_for('scmapi') }}"> ( SAP SCM API in Dev ) </a> 
        </div>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>