<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>The best run SAP</h1>
    <h2>Welcome {{ user.get("name") }}!</h2>

    {% if config.get("ENDPOINT") %}
      <li><a href='/home'>Connect to a demo of the SAP "Azure light" API by/Frank</a></li>
    {% endif %}

    {% if config.get("B2C_PROFILE_AUTHORITY") %}
      <li><a href='{{_build_auth_code_flow(authority=config["B2C_PROFILE_AUTHORITY"])["auth_uri"]}}'>Edit Profile</a></li>
    {% endif %}

    <li><a href="/logout">Logout</a></li>
    <hr>
    <footer style="text-align: right">Authentication by MSAL Python {{ version }}</footer>
</body>
</html>