{% extends "base.html" %}

{% block content %}
    <h1>... under construction ... </h1>
    <h2>Legg inn token</h2>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.token.label }}<br>
            {{ form.token(size=1024) }}<br>
        </p>         
        <p>{{ form.submit() }}</p>
    </form>
    <h3>This page is temporary until this web-app is registered in Azure portal. </h3>
    <p>The python web application uses the Microsoft Authentication Library (MSAL) to obtain 
        a OAUTH access token from the Microsoft identity platform (formerly Azure AD v2.0)</p>
{% endblock %}

